[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
schedule = "*"
pyyaml = "*"
selenium = "*"
webdriver-manager = "*"
bs4 = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.8"
